body {
    background: rgb(118, 208, 214);
    margin-left: 100px;
    margin-right: 100px;
    
}
ul {
    text-align: justify;
}

header {
    margin-top: 70px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.img_logo {
    width: 30px;
    margin-bottom: 1px;
}

footer {
    margin-bottom: 30px;
}